<div class="d-flex flex-row justify-content-around flex-wrap h-100 align-items-center">
  <div>
    <a routerLink='/administrator/sites'>
      <mat-card class="menu-tile">
        <mat-card-header>
          <mat-card-title>
            Sites
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Create, update or remove worksites belonging to your company.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
  
  <div>
    <a routerLink='/administrator/employees'>
      <mat-card class="menu-tile">
        <mat-card-header>
          <mat-card-title>
            Employees
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Create employees and assign the managers of worksites.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <div>
    
    <a routerLink='/administrator/queuetypes'>
      <mat-card class="menu-tile">
          <mat-card-header>
            <mat-card-title>
              Queue types
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Manage queue types available at your company.
            </p>
          </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
