<div class="d-flex flex-row justify-content-around flex-wrap h-100 align-items-center">
  <div>
    <mat-card class="menu-tile">
      <mat-card-header>
        <mat-card-title>
          Queues
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Create, update or remove companies from the system.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="menu-tile">
      <mat-card-header>
        <mat-card-title>
          Work mode
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Create administrators and assign them to their designated companies.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
